body {
	margin: 0;
	padding: 0;
	font-family: Roboto, Arial; 
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	background: #ffffff;
}

.main-header {
	background-color: #eeeeee;
}
.user-navigation li{
	list-style:none;
	
}
.user-navigation a{
	color: #000000;
	text-decoration: none;
	
	
}

.user-navigation a:hover{
	color: #fb565a;
	text-decoration: none;
}
.user-navigation a:active{
	color: #a6a6a6;
	text-decoration: none;
}
.main-container {
	background-color: #eeeeee;
}

